<div class="card-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title style="color: white;">Lista de Autores</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!--<mat-form-field>
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar">
      </mat-form-field>-->
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Definición de las columnas -->
        <ng-container matColumnDef="Authors">
          <th mat-header-cell *matHeaderCellDef> Author </th>
          <td mat-cell *matCellDef="let author"> {{ author }} </td>
        </ng-container>


        <!-- Definición de las filas y celdas -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Selecciona una página de Autores">
      </mat-paginator>

    </mat-card-content>
    </mat-card>
</div>
