<div class="card-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title style="color: white;">Lista de Autores</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="Authors">
          <th mat-header-cell *matHeaderCellDef> Author </th>
          <td mat-cell *matCellDef="let author"> {{ author }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onAuthorClick(row)"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Selecciona una página de Autores">
      </mat-paginator>

    </mat-card-content>
    </mat-card>
</div>
<div style="margin-top: 20px;" class="card-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title style="color: white;">Lista de Titulos por Autor seleccionado</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="titlesDataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="Title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let title"> {{ title.title }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedTitleColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedTitleColumns;" (click)="onTitleClick(row)"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Selecciona una página de Títulos"
      #titlePaginator>
      </mat-paginator>

    </mat-card-content>
    </mat-card>
</div>

<div style="margin-top: 20px;" class="card-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title style="color: white;">Lista de Fragmentos por Títulos seleccionados</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="fragmentoDataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="Title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let fragment"> {{ fragment.title }} </td>
        </ng-container>

        <ng-container matColumnDef="Author">
          <th mat-header-cell *matHeaderCellDef> Author </th>
          <td mat-cell *matCellDef="let fragment"> {{ fragment.author }} </td>
        </ng-container>

        <ng-container matColumnDef="Lines">
          <th mat-header-cell *matHeaderCellDef> Lines </th>
          <td mat-cell *matCellDef="let fragment"> {{ fragment.lines }} </td>
        </ng-container>

        <ng-container matColumnDef="LineCount">
          <th mat-header-cell *matHeaderCellDef> LineCount </th>
          <td mat-cell *matCellDef="let fragment"> {{ fragment.linecount }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedFragmentsColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedFragmentsColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Selecciona una página de Fragmentos"
      #fragmentPaginator></mat-paginator>

    </mat-card-content>
    </mat-card>
</div>
